run = "./run"

hidden = [
	"main", "wordle_backend", "server_utils",
	"**/*.o", "**/*.d", ".ccls-cache",
  ".clang-format", ".clang-tidy", ".gitignore",
	"Makefile", "compile_flags.txt"
]
entrypoint = "main.cpp"
compile = "make -s"

[languages.cpp]
pattern = "**/*.{cc,h}"
[languages.cpp.languageServer]
start = "clangd"

[debugger]
support = true

[nix]
channel = "stable-22_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".ccls-cache"]
